/* Soft Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    color: midnightblue;
}

.corpo {
    background-color:  #009EB2;
    border-radius: 20px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

@media (min-width: 750px){
    .corpo{
        width: 700px;
    }
}


#exit {
    display: block;
    margin: 3em 1em 1em 1em;
    background-color: chartreuse;
    align-items: center;
}

#display {
    background-color: white;
    color: #000;
    height: 2.5em;
    font-size: 1.2em;
    text-align: end;
}

#history {
    font-size: 1em;
    background-color: white;
    color: #000;
    height: 1.8em;
    text-align: end;
}

.line {
    display: flex;
    justify-content: space-around;
}

button {
    background-color: #3D4F4E;
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 1.7em;
    margin: 0.3em;
    padding: 0.8em;
    width: 5em;
}

footer {
    color:  white;
    font: 500 20px Roboto, sans-srif;
    text-align: center;
    font-style: italic;
}

#arrow {
    display: flex;
    justify-content: space-between;
    margin: 1em -2em -2em -2em;
    padding: 0;
}

#arrow button {
    padding: 0.1em;
    width: auto;
    background-color: #000;
}

#la {
    flex-direction: column;
}

/* Botoes da Calculadora para telas pequenas */
@media (max-width: 750px) {
    button {
        font-size: 1.7em;
        padding: 0.5em;
        width: 3.3em;
    }
}
@media (max-width: 480px){
    button {
        font-size: 1.3em;
        padding: 0.4em;
        width: 3em;
    }
}
@media (max-width: 350px) {
    button {
        font-size: 1em;
        padding: 0.2;
        width: 2.5em;
    }
}

.projeto ul {
    list-style: circle;
    padding-left: 5em;
}

#informations {
    color: yellow;
}